<form action="/auth/signup" method="POST" style="max-width:500px;margin:auto">
    <h2 class="title">Register for an account</h2>
    <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" id="authName" type="text" placeholder="Username" name="name">
    </div>

    <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input class="input-field" id="authEmail" type="email" placeholder="Email" name="email">
    </div>

    <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" id="authPassword" type="password" placeholder="Password" name="password">
    </div>
    <div class="signup">
        <button type="submit" class="btn">Register</button>
    </div>

</form>