<footer class="footer">
    <div>
        <a href="https://github.com/segwuonwu">Github</a>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/solomonegwuonwu/">Linkedin</a>
    </div>
    <p>Made with ❤️ by Solomon Egwuonwu</p>
    <p>© Copright 2020</p>
</footer>