<h1>Add foods</h1>

<form action="/addMenu" method="post">
    <div>
        <h4>Monday: </h4>
        <input type="button" name="Breakfast">
        <input type="button" name="Lunch">
        <input type="button" name="Dinner">
    </div>

    <div>
        <h4>Tuesday: </h4>
        <input type="button" name="Breakfast">
        <input type="button" name="Lunch">
        <input type="button" name="Dinner">
    </div>

    <div>
        <h4>Wednesday: </h4>
        <input type="button" name="Breakfast">
        <input type="button" name="Lunch">
        <input type="button" name="Dinner">
    </div>

    <div>
        <h4>Thursday: </h4>
        <input type="button" name="Breakfast">
        <input type="button" name="Lunch">
        <input type="button" name="Dinner">
    </div>

    <div>
        <h4>Friday: </h4>
        <input type="button" name="Breakfast">
        <input type="button" name="Lunch">
        <input type="button" name="Dinner">
    </div>

    <div>
        <h4>Saturday: </h4>
        <input type="button" name="Breakfast">
        <input type="button" name="Lunch">
        <input type="button" name="Dinner">
    </div>

    <div>
        <h4>Sunday: </h4>
        <input type="button" name="Breakfast">
        <input type="button" name="Lunch">
        <input type="button" name="Dinner">
    </div>
</form>