<% meals.forEach(day => {%>
    <div>
        <h1>
            <%= day.day%>
        </h1>
    </div>

    <% meals.forEach(meal => {%>
        <% if(meal){%>
            <div>
                <h3>
                    <%= meal.time%>
                </h3>
            </div>

            <div>
                <img src="<%= meal.image%>">
            </div>

            <div>
                <h4>
                    <%= meal.name%>
                </h4>

            </div>
            <%}else{%>
                <h2>No meal selected this day</h2>
                <%}%>
                    <% })%>
                        <% })%>