<h2>Home</h2>

<h1>Sample Meals</h1>
<p>Search for a meals below...</p>

<form action="/menu" method="GET">
    <input name="title" type="text" placeholder="Search for food">
    <input type="submit" name="submit">
</form>