/* body {
    background-color: #e4a8a8c7;
} */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e4a8a8c7;
}

main {
    flex: 1 0 auto;
}

.alert {
    border-radius: 10px;
    box-shadow: .1em .1em hotpink;
    color: #fff;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.navbar {
    background-color: #333;
}

.navbar li {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #9d9d9d;
    padding: 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(197, 191, 182);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logout {
    margin-left: 520px;
}

.navbar-right {
    margin-left: 620px;
    /* float: right; */
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.footer {
    margin-left: auto;
    display: block;
    justify-content: center;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 4px;
    /* margin-top: 10%; */
}

.title {
    text-align: center;
    font-family: 'Fauna One';
}

.header {
    /* text-align: center; */
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Scada'
}

.days {
    margin: auto;
    width: 30%;
    /* border: 3px solid green; */
    padding: 10px;
}

.menu {
    margin-bottom: 60px;
}

.name {
    font-family: 'Courgette';
}